:root{
    --bg: #f0f2f5;
    --lg: #166fe5;
    --fnt: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

.facebookIco{
    height: 106px;
}

.fb_des{
    font-family: var(--fnt);
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    margin-left: 31px;
    margin-top: 12px;
}

.left{
    width: 555px;
    height: 258px;
    position: absolute;
    left: 145px;
    bottom: 171px;
}

.right{
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow:0 2px 4px rgba(0,0,0,.1), 0 8px 16px rgba(0,0,0,.1) ;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
    height: 350px;
    position: absolute;
    right: 145px;
    top: 85px;
}

.in1{
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    border: 0.5px solid rgba(20,16,16,0.24);
    margin-top: 10px;
    font-size:20px ;
    border-radius: 5px ;
    margin-left: 15px;
}

.in1:focus{
    outline-color: #166fe5;
    outline-width: 0.5px;
    outline-offset: 1px;
    border-radius: 6px;
}

.submitBtn{
    outline: none;
    padding: 14px 16px;
    width: 362px;
    color: #fff;
    background-color: #166fe5;
    border: none;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 700;
    margin-left: 15px;
}

.openBtn{
    position: absolute;
    color: white;
    bottom: 23px;
    font-weight: 700;
    align-items: center;
    background-color: #42b72a;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 17px;
    padding: 0 16px;
    left: 102px;
    line-height: 48px;
}

.pf{
    color: ;
}