{% extends "base.html" %}

{% block content %}
    
    <div class="left">
        <div class="div" id="div-id">
            <div class="div" id="covid"><img class="side" src="images/profile.jpg" /><span id="side"> Enoch Toby</span>
            </div>
            <div class="div" id="covid"><img class="side" src="images/COVID-19_information_center.jpg" /><span id="side">
                    COVID-19 Information Center</span></div>
            <div class="div" id="covid"><img class="side" src="images/messenger.jpg" /><span id="side"> Messenger</span>
            </div>
            <div class="div" id="covid"><img class="side" src="images/fundraisers.jpg" /><span id="side"> Fundraisers</span>
            </div>
            <div class="div" id="covid"><img class="side" src="images/Groups.jpg" /><span id="side"> Groups</span></div>
            <div class="div" id="covid"><img class="side" src="images/Watch.jpg" /><span id="side"> Videos</span></div>
            <div class="div" id="covid"><img class="side" src="images/pages.jpg" /><span id="side"> Pages</span></div>
            <div class="div" id="covid"><img class="side" src="images/events.jpg" /><span id="side"> Events</span></div>
            <div class="div" id="covid"><img class="side" src="images/friend-lists.jpg" /><span id="side"> Friend
                    Lists</span></div>
            <div class="div" id="covid"><img class="side" src="images/saved.jpg" /><span id="side"> Saved</span></div>
            <div class="see-more">See More ></div>
        </div>
        <hr>
    
        <aside class="navigate">
            <nav class="nav">
                <p> Privacy</p>
                <p> · Terms</p>
                <p> · Advertising</p>
                <p> · Ad Choice</p>
            </nav>
    
            <nav class="nav">
                <p>Cookies</p>
                <p>· More </p>
                <p>· Toby's Facebook © 2020 ·</p>
            </nav>
        </aside>
    </div>
    
    <main class="main">
        <article id="main">
            <article class="article1">
                <div class="row2" id="row2">
                    <div class="row2"><img class="profile" src="images/profile.jpg" /></div>
                    <div><input class="input2" type="textarea" placeholder="What's on your mind, Enoch?" /></div>
                </div>
    
                <div class="up">
                    <p class="up1"><img id="up" src="images/live-video.jpg" />Live Video</p>
                    <p class="up1"><img id="up" src="images/Photo.png" />Photo/Video</p>
                    <p class="up1"><img id="up" src="images/Smiley.jpg" />Feeling/Activity</p>
                </div>
            </article>
    
            <article class="article2">
                <div class="post">
                    <div><img class="profile" src="images/trump1.jpg" /></div>
    
                    <aside id="aside0">
                        <div class="donald">Donald Trump</div>
                        <div class="notification">
                            <div class="hour">17h.</div>
                            <div><img id="notify" src="images/notification.jpg" /></div>
                        </div>
                    </aside>
                    <div class="updated">updated his profile picture</div>
                    <p class="ellipse">...</p>
                </div>
    
                <div class="pix"><img src="images/trump1.jpg" class="trump" /></div>
                <div class="result">
                    <div class="border1">
                        <div class="well">
                            <div><img id="like1" src="images/like.jpg" /><span class="num1">38</span></div>
                            <div class="num2">11 Comments</div>
                        </div>
                    </div>
                </div>
    
                <div class="action">
                    <div class="border">
                        <div class="like" onclick="className='click like';" ondblclick="className='dblclick like';"><img
                                id="like" src="images/like.jpg" /><span id="span"> Like</span></div>
                        <!-- onclick="className='click like';": event attribute to give characteristics when clicked -->
                        <div class="comment"><img id="comment" src="images/comment.jpg" /><span id="span"> Comment</span>
                        </div>
                        <div class="share"><img id="share" src="images/share.jpg" /><span id="span"> Share</span></div>
                    </div>
                </div>
    
                <div class="replies">
                    <div><img class="profile" src="images/lmh.jpg" /></div>
                    <aside class="aside2">
                        <div class="donald1">Lee Min Ho</div>
                        <div class="updated1">Looking great.</div>
                        <div class="react">
                            <div class="dot" onclick="className='click dot';" ondblclick="className='dblclick1 dot';">Like
                            </div>
                            <div class="dot0">·</div>
                            <div class="dot">Reply </div>
                            <div class="dot0">·</div>
                            <div class="dot1">16h</div>
                        </div>
                    </aside>
                </div>
    
                <div id="row3">
                    <div class="row3">
                        <div class="row3"><img class="profile" src="images/profile.jpg" /></div>
                        <div><input class="input4" type="textarea" placeholder="Write a comment..." /></div>
                    </div>
                </div>
    
                <div class="divp">Press Enter to post</div>
            </article> <br>
    
    
            <article class="article2">
                <div class="post">
                    <div><img class="profile" src="images/profile.jpg" /></div>
    
                    <aside id="aside0">
                        <div class="donald">Enoch Toby</div>
                        <div class="notification">
                            <div class="hour">15h.</div>
                            <div><img id="notify" src="images/notification.jpg" /></div>
                        </div>
                    </aside>
    
                    <div class="updated">updated his profile picture</div>
                    <p class="ellipse">...</p>
                </div>
    
                <div class="pix"><img src="images/profile.jpg" class="trump" /></div>
                <div class="result">
                    <div class="border1">
                        <div class="well">
                            <div><img id="like1" src="images/like.jpg" /><span class="num1">38</span></div>
                            <div class="num2">11 Comments</div>
                        </div>
                    </div>
                </div>
    
                <div class="action">
                    <div class="border">
                        <div class="like" onclick="className='click like';" ondblclick="className='dblclick like';"><img
                                id="like" src="images/like.jpg" /><span id="span"> Like</span></div>
                        <div class="comment"><img id="comment" src="images/comment.jpg" /><span id="span"> Comment</span>
                        </div>
                        <div class="share"><img id="share" src="images/share.jpg" /><span id="span"> Share</span></div>
                    </div>
                </div>
    
                <div class="replies">
                    <div><img class="profile" src="images/trump1.jpg" /></div>
    
                    <aside class="aside2">
                        <div class="donald1">Donald Trump</div>
                        <div class="updated1">Mr. Anonymous.</div>
                        <div class="react">
                            <div class="dot" onclick="className='click dot';" ondblclick="className='dblclick1 dot';">Like
                            </div>
                            <div class="dot0">·</div>
                            <div class="dot">Reply </div>
                            <div class="dot0">·</div>
                            <div class="dot1">14h</div>
                        </div>
                    </aside>
                </div>
    
                <div id="row3">
                    <div class="row3">
                        <div class="row3"><img class="profile" src="images/profile.jpg" /></div>
                        <div><input class="input4" type="textarea" placeholder="Write a comment..." /></div>
                    </div>
                </div>
    
                <div class="divp">Press Enter to post</div>
            </article> <br>
    
    
            <article class="article2">
                <div class="post">
                    <div><img class="profile" src="images/lmh.jpg" /></div>
    
                    <aside id="aside0">
                        <div class="donald">Lee Min Ho</div>
                        <div class="notification">
                            <div class="hour">12h.</div>
                            <div><img id="notify" src="images/notification.jpg" /></div>
                        </div>
                    </aside>
    
                    <div class="updated">updated his profile picture</div>
                    <p class="ellipse">...</p>
                </div>
    
                <div class="pix"><img src="images/lmh.jpg" class="trump" /></div>
                <div class="result">
                    <div class="border1">
                        <div class="well">
                            <div><img id="like1" src="images/like.jpg" /><span class="num1">38</span></div>
                            <div class="num2">11 Comments</div>
                        </div>
                    </div>
                </div>
    
                <div class="action">
                    <div class="border">
                        <div class="like" onclick="className='click like';" ondblclick="className='dblclick like';"><img
                                id="like" src="images/like.jpg" /><span id="span"> Like</span></div>
                        <div class="comment"><img id="comment" src="images/comment.jpg" /><span id="span"> Comment</span>
                        </div>
                        <div class="share"><img id="share" src="images/share.jpg" /><span id="span"> Share</span></div>
                    </div>
                </div>
    
                <div class="replies">
                    <div><img class="profile" src="images/profile.jpg" /></div>
    
                    <aside class="aside2">
                        <div class="donald1">Enoch Toby</div>
                        <div class="updated1">See fine boy! 😎</div>
                        <div class="react">
                            <div class="dot" onclick="className='click dot';" ondblclick="className='dblclick1 dot';">Like
                            </div>
                            <div class="dot0">·</div>
                            <div class="dot">Reply </div>
                            <div class="dot0">·</div>
                            <div class="dot1">12h</div>
                        </div>
                    </aside>
                </div>
    
                <div id="row3">
                    <div class="row3">
                        <div class="row3"><img class="profile" src="images/profile.jpg" /></div>
                        <div><input class="input4" type="textarea" placeholder="Write a comment..." /></div>
                    </div>
                </div>
    
                <div class="divp">Press Enter to post</div>
            </article> <br>
    
    
    
    
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <hr>
    
            <nav class="nav1">
                <p> Privacy</p>
                <p> · Terms</p>
                <p> · Advertising</p>
                <p> · Ad Choice</p>
            </nav>
    
            <nav class="nav1">
                <p>Cookies</p>
                <p>· More </p>
                <p>· Toby's Facebook © 2020 ·</p>
            </nav>
    
        </article>
    </main>
    
    <div class="right">
        <div class="rite" id="rite">
            <div class="wright" id="wright"><img class="side" src="images/prof03.jpg" /><span id="side"> Toyosi
                    Victor</span></div>
            <div class="wright" id="wright"><img class="side" src="images/prof02.jpg" /><span id="side"> Faith
                    Blessing</span></div>
            <div class="wright" id="wright"><img class="side" src="images/prof05.jpg" /><span id="side"> Abraham
                    Victory</span></div>
            <div class="wright" id="wright"><img class="side" src="images/prof06.jpg" /><span id="side"> Wood Daniel</span>
            </div>
            <div class="wright" id="wright"><img class="side" src="images/prof07.jpg" /><span id="side"> Happiness
                    Stephen</span></div>
            <div class="wright" id="wright"><img class="side" src="images/prof08.jpg" /><span id="side"> Samuel
                    Deborah</span></div>
            <div class="wright" id="wright"><img class="side" src="images/prof05.jpg" /><span id="side"> Livingstone
                    Faithfulness </span></div>
            <div class="wright" id="wright"><img class="side" src="images/prof09.jpg" /><span id="side"> Chadwick
                    Mary</span></div>
            <div class="wright" id="wright"><img class="side" src="images/prof05.jpg" /><span id="side"> Paul Mark</span>
            </div>
            <div class="wright" id="wright"><img class="side" src="images/prof10.jpg" /><span id="side"> Abraham
                    Priscilla</span></div> <br><br><br><br><br>
        </div>
    </div>
    
    <div class="white"><img id="white" src="images/white_plus.jpg" /></div>

{% endblock content %}