<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/index.css')}}">

    {% if title %}
        <title>Facebook - {{ title }}</title>
    {% else %}
        <title>Facebook</title>
    {% endif %}
</head>
<body>
    
    <div class="left">
        <img class="facebookIco" src="{{ url_for('static', filename='/img/fb.png')}}" alt="logo">
        <p class="fb_des">Facebook helps you connect and share <br/> with the people in your life</p>
    </div>
    <div class="right">
        <input type="email" class="in1" placeholder="Email">
        <input type="password" class="in1" placeholder="Password">
        <button class="submitBtn" type="submit">Log In</button>
        <a class="pf">Forgot Password?</a>
        <button class="openBtn">Create New Account</button>
    </div>

    <script src="{{ url_for('static', filename='/js/index.js')}}"></script>

</body>
</html>