<!--post container-->
<div class="view view-post-container smaller-margin">
    <div class="view-post">
        <div class="upper">
            <div class="d-flex">
                <div class="user">
                    <div class="profile">
                       <a href="{{url_for('user', username=post.author.username)}}"> 
                           <img src="{{url_for('static', filename='img/avatar/' + post.author.profile_image)}}" alt=""> </a>
                    </div>
                </div>

                <div class="info">
                    <h6 class="name">
                       <a href="{{url_for('user', username=post.author.username)}}"> {{ post.author.f_name }} {{ post.author.l_name }} </a>
                    </h6>
                    <span class="time">{{moment(post.timestamp).fromNow()}}</span>
                </div>
            </div>


        </div>

        <div class="desc">
            {% if current_user == post.author %}
            <p> {{ post.body }}</p>
            <a style='margin-right:10px' href="{{url_for('edit_post', id= post.id)}}"> <span class="label label-primary">Edit</span></a><a href="{{url_for('delete_post', id= post.id)}}"> <span class="label label-danger">Delete</span></a>
            {% else %}
            <p> {{ post.body }}</p>
            {% endif %}
        </div>
        <br>
        {% if post.post_image %}
        <div class="post-img">
            <img src="{{ url_for('static', filename='img/posts/' + post.post_image) }}" alt="">
        </div>
        {% endif %}

        <div class="actions-container">
            <div class="action">
                <div class="icon">
                    {% if current_user.has_liked_post(post) %}
                <a href="{{ url_for('like_action', post_id=post.id, action='unlike') }}"><img src="{{url_for('static', filename='img/icons/unlike.jpg')}}" alt=""></a>
  {% else %}
    <a href="{{ url_for('like_action', post_id=post.id, action='like') }}"><img src="{{url_for('static', filename='img/icons/thumbs-up.svg')}}" alt=""></a>
  {% endif %}
                    
                    
                </div>
                <span class="label label-primary">
                    {{ post.likes.count() }} Likes

                </span>
            </div>

            <div class="action">
                <a href="{{ url_for('post', id=post.id) }}">
                <div class="icon">
                    
                    <img src="{{url_for('static', filename='img/icons/comment.svg')}}" alt="">

                </div>
                </a>
                <span>
                    <a href="{{ url_for('post', id=post.id) }}">
                        <span class="label label-primary">
                            {{ post.comments.count() }} Comments

                        </span>
                    </a>
                </span>
            </div>

            <div class="action">
                <div class="icon">
                    <img src="{{url_for('static', filename='img/icons/share.svg')}}" alt="">
                </div>
                <span>
                    share
                </span>
            </div>
        </div>
    </div>
</div>