{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}Facebook - {{ title }} {% else %} Facebook{% endif %}
{% endblock %}

{% block styles %}
{{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='css/owl.theme.default.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css')}}"> 
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> 
    
{% endblock %}


{% block navbar %}
    <!--navbar-->
    {% if current_user.is_authenticated %}
    <nav>

        <!--logo and search-->
        <div class="left-side">
            <div class="logo">
                <a href="{{url_for('index')}}"><img src="{{url_for('static', filename='img/icons/facebook.svg')}}" alt=""></a>          
            </div>

            <div class="search">
                <input type="text" placeholder="Search Facebook" name="" id="">
            </div>
        </div>

        <!--tab icons-->
        <div class="tabs">
            <div class="tab-icon active">
                <div class="icon">
                    <a href="{{url_for('index')}}"><img src="{{url_for('static', filename='img/icons/home.svg')}}" alt=""></a>
                </div>
            </div>
            <a href="{{url_for('explore')}}">
            <div class="tab-icon">
                <div class="icon">
                    <img src="{{url_for('static', filename='img/icons/flag.svg')}}" alt="">
                </div>
            </div>
            </a>
            <a href="{{url_for('users')}}">
            <div class="tab-icon">
                <div class="icon">
                    <img src="{{url_for('static', filename='img/icons/users.svg')}}" alt="">
                </div>
            </div>
            </a>
            <a href="{{url_for('messaging')}}">
            <div class="tab-icon">
                <div class="icon">
                    <img src="{{url_for('static', filename='img/icons/chat.png')}}" alt="">
                </div>
            </div>
        </a>
        </div>

        <!--right side-->
        <div class="right-side">
            <a href="{{url_for('user', username=current_user.username)}}">
            <div class="user">
                <div class="profile">
                    <img src="{{url_for('static', filename='img/avatar/' + current_user.profile_image)}}" alt="">
                </div>
                <h4>{{ current_user.f_name }}</h4>
            </div>
            </a>

            <!--icons-->
            <a href="{{ url_for('messages') }}">
            <div class="user-icons">
                <div class="icon">
                    <img src="{{url_for('static', filename='img/icons/messenger.svg')}}" alt="">
                    {% set new_messages = current_user.new_messages() %}
                            {% if new_messages %}
                            <span class="badge">{{ new_messages }}</span>
                            {% endif %}
                </div>
            </div>
            
            </a>
           <a href="{{url_for('logout')}}"> <div class="user-icons">
                <div class="icon">
                    <img src="{{url_for('static', filename='img/icons/logout.png')}}" alt="">
                </div>
            </div></a>
        </div>
    </nav>
    <!--navbar ends-->
    {% else %}
    <nav>

        <!--logo and search-->
        <div class="left-side">
            <div class="logo">
                <a href="{{url_for('index')}}"><img src="{{url_for('static', filename='img/icons/facebook.svg')}}" alt=""></a>          
            </div>
        </div>
        <div class="right-side">

            <!--icons-->
           <a href="{{url_for('login')}}"><div class="user-icons">
                <div class="icon">
                    <img src="{{url_for('static', filename='img/icons/login.png')}}" alt="">
                </div>
            </div></a>
           <a href="{{url_for('register')}}"> <div class="user-icons">
                <div class="icon">
                    <img src="{{url_for('static', filename='img/icons/register.png')}}" alt="">
                </div>
            </div></a>
        </div>
    </nav>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info alert-dismissible" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{ message }}</strong>
                </div>          
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
    
{% endblock %}


{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='js/owl.carousel.min.js')}}"></script>
<script src="{{url_for('static', filename='js/index.js')}}"></script>
{{ moment.include_moment() }}

{% endblock %}
