{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% set active_page = "profile" %}


{% block styles %}
{{super()}}
   <style>
       body, a {
           color:white
       }
   </style>
{% endblock %}


{% block app_content %} 
{% if form %}
<div class="container">
    <h1>Edit Profile</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div><br>

    <a href="{{url_for('user', username=current_user.username)}}">Back</a>
</div>
{% endif %}
{% endblock %}