{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% set active_page = "explore" %}

{% block styles %}
{{super()}}
    <style>
        .control-label {
            display: none;
        }        
    </style>
{% endblock %}


{% block app_content %}
    <!--content-->
    <div class="wrapper">  
        <div class="shortcuts">
            <div class="first-col">
                <div class="menu-item">
                    <div class="user">
                        <div class="profile">
                            <img src="{{url_for('static', filename='img/avatar/hero.png')}}" alt="">
                        </div>
                        <h4>Anne</h4>
                    </div>
                </div>
    
                <div class="menu-item">
                    <div class="item-row">
                        <div class="icon">
                            <img src="{{url_for('static', filename='img/icons/shield.svg')}}" alt="">
                        </div>
                        <h4>COVID-19 Infromation Center </h4>
                    </div>
                </div>
    
                <div class="menu-item">
                    <div class="item-row">
                        <div class="icon">
                            <img src="{{url_for('static', filename='img/icons/colored-people.svg')}}" alt="">
                        </div>
                        <h4>Friends </h4>
                    </div>
                </div>
    
                <div class="menu-item">
                    <div class="item-row">
                        <div class="icon">
                            <img src="{{url_for('static', filename='img/icons/colored-messenger.svg')}}" alt="">
                        </div>
                        <h4>Messenger </h4>
                    </div>
                </div>
    
                <div class="menu-item">
                    <div class="item-row">
                        <div class="icon">
                            <img src="{{url_for('static', filename='img/icons/colored-flag.svg')}}" alt="">
                        </div>
                        <h4>Pages </h4>
                    </div>
                </div>
    
                <div class="menu-item">
                    <div class="item-row  border">
                        <div class="icon more">
                            <img src="{{url_for('static', filename='img/icons/arrow-down.svg')}}" alt="">
                        </div>
                        <h4>see more </h4>
                    </div>
                </div>
            </div>
            <div class="second-col">
    
                <h6 class="title">
                    your shortcuts
                </h6>
                <div class="menu-item">
                    <div class="item-row">
                        <div class="icon">
                            <img src="{{url_for('static', filename='img/stories/st-1.jpeg')}}" alt="">
                        </div>
                        <h4>Designers house </h4>
                    </div>
                </div>
    
                <div class="menu-item">
                    <div class="item-row">
                        <div class="icon">
                            <img src="{{url_for('static', filename='img/stories/st-2.jpeg')}}" alt="">
                        </div>
                        <h4>Script house </h4>
                    </div>
                    <div class="menu-item">
                        <div class="item-row">
                            <div class="icon">
                                <img src="{{url_for('static', filename='img/stories/page-1.jpg')}}" alt="">
                            </div>
                            <h4>ui ux Designers workshop </h4>
                        </div>
                    </div>
    
                    <div class="menu-item">
                        <div class="item-row">
                            <div class="icon">
                                <img src="{{url_for('static', filename='img/stories/st-3.jpeg')}}" alt="">
                            </div>
                            <h4>netflix movies recommends </h4>
                        </div>
                    </div>
    
                    <div class="menu-item">
                        <div class="item-row">
                            <div class="icon">
                                <img src="{{url_for('static', filename='img/stories/page-2.jpg')}}" alt="">
                            </div>
                            <h4>the futur </h4>
                        </div>
                    </div>
    
    
                    <div class="menu-item">
                        <div class="item-row">
                            <div class="icon">
                                <img src="{{url_for('static', filename='img/stories/page-3.jpeg')}}" alt="">
                            </div>
                            <h4>aj smart </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--posts-->
        <div class="posts">
         
<!-- stories -->
<div class="stories">
    <div class="owl-controls">
        <div class="owl-nav">
            <div class="controllers nxtBtn">
                <img src="{{url_for('static', filename='img/icons/arrow-right.svg')}}  " alt="">
            </div>
        </div>
    </div>
    <div class="owl-carousel owl-theme slider">
        <div class="item">
            <div class="overlay first">
                <div class="create">
                    <div class="icon">
                        <a href="{{url_for('story')}}"><img src="{{url_for('static', filename='img/icons/plus.svg')}}" alt=""></a>
                    </div>
                    <a href="{{url_for('story')}}"><span>Create a Story</span></a> 
                </div>
            </div>
            <div class="story-image">
                <img src="{{url_for('static', filename='img/avatar/' +current_user.profile_image)}}" alt="">
            </div>
        </div>
        <!---->
        
        {% for story in stories %}
        <div class="item">
            <div class="overlay">
                <div class="person">
                    <div class="profile">
                        <img src="{{url_for('static', filename='img/avatar/' + story.author.profile_image)}}" alt="">
                    </div>
                </div>
                <h4> {{story.author.f_name}} {{story.author.l_name}} </h4>
            </div>
            <div class="story-image">
                <img src="{{url_for('static', filename='img/stories/' + story.story_image)}}" alt="">
            </div>
        </div>
        {% endfor %}
        <!---->
    </div>
</div>
            <!--create post-->
            <div class="timeline">
                
                <!--Post container-->
                {% for post in posts.items %}
                    {% include '_post.html' %}
                {% endfor %}
    
                <!--people you may know-->
                <div class="view friends smaller-margin">
                    <div class="upper">
                        <h6>people you may know</h6>
                         
                    </div>

                    <div class="owl-carousel owl-theme people">
                        {% for user in users %}
                        {% if user!= current_user%}
                        <div class="item">
                            <div class="person-img">
                                <div class="icon">
                                    &times;
                                </div>
                                <img src="{{url_for('static', filename='img/avatar/' + user.profile_image)}}" alt="">
                            </div>

                            <div class="info">
                                <h4>
                                    {{user.f_name}} {{user.l_name}}
                                </h4>

                                
                                {% if not current_user.is_following(user) and user != current_user %}
                                <button>
                                    <form action="{{ url_for('follow', username=user.username) }}" method="post">
                                        {{ form.hidden_tag() }}
                                        {{ form.submit(value='Follow', class_='btn btn-default') }}
                                    </form>
                                </button>
                                {% elif current_user.is_following(user) and user!= current_user %}
                            <button>
                                    <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
                                        {{ form.hidden_tag() }}
                                        {{ form.submit(value='Unfollow', class_='btn btn-default') }}
                                    </form>
                                </button>
                                {% endif %}
                            </div>
                        </div>
                        <!---->
                        {%endif%}
                        {%endfor%}
                    </div>
                </div>

            </div>
            <nav aria-label="..." class='pager'>
                <ul class="pager">
                    <li class="previous{% if not prev_url %} disabled{% endif %}">
                        <a href="{{ prev_url or '#' }}">
                            <span aria-hidden="true">&larr;</span> Newer posts
                        </a>
                    </li>

                    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                        {% if page_num %}
                        {% if posts.page_num == page_num %}
                            <a class="btn btn-info mb-4 active" href="{{ url_for('index', page=page_num)}}">{{page_num}}</a>
                        {% else %}
                        <a class="btn btn-outline-info mb-4" href="{{ url_for('index', page=page_num)}}">{{page_num}}</a>
                        
                        {% endif %}
                        {% else  %}
                            ...
                        {% endif %}
                    {% endfor %}

                    <li class="next{% if not next_url %} disabled{% endif %}">
                        <a href="{{ next_url or '#' }}">
                            Older posts <span aria-hidden="true">&rarr;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="shortcuts shortcuts-2">
            <div class="second-col first-col">
                <div class="menu-item">
                    <div class="upper">
                        <h6>Your pages</h6>
                    </div>
                </div>
    
                <div class="menu-item">
                    <div class="item-row">
                        <div class="icon">
                            <img src="{{url_for('static', filename='img/stories/st-2.jpeg')}}" alt="">
                        </div>
                        <h4>Script house </h4>
                    </div>
                </div>
    
                <div class="menu-item">
                    <div class="item-row">
                        <div class="icon">
                            <img src="{{url_for('static', filename='img/stories/st-1.jpeg')}}" alt="">
                        </div>
                        <h4>omar ui design </h4>
                    </div>
                </div>
    
                <div class="menu-item">
                    <div class="item-row  border">
                        <div class="icon more">
                            <img src="{{url_for('static', filename='img/icons/arrow-down.svg')}}" alt="">
                        </div>
                        <h4>see more </h4>
                    </div>
                </div>
            </div>
            <div class="second-col">
    
                <h6 class="title">
                    birthdays
                </h6>
                <div class="menu-item">
                    <div class="item-row">
                        <div class="icon not-rounded">
                            <img src="{{url_for('static', filename='img/icons/gift.svg')}}" alt="">
                        </div>
                        <h4>it's diana berry's birthday </h4>
                    </div>
                </div>
                <div class="online">
                    <h6 class="title">
                        contact
                    </h6>
    
                    <div class="user">
                        <div class="profile">
                            <img src="{{url_for('static', filename='img/avatar/1.jpg')}}" alt="">
                        </div>
                        <h4>diana berry</h4>
                    </div>
    
                    <div class="user">
                        <div class="profile">
                            <img src="{{url_for('static', filename='img/avatar/4.jpg')}}" alt="">
                        </div>
                        <h4>rosie pie</h4>
                    </div>
    
                    <div class="user">
                        <div class="profile">
                            <img src="{{url_for('static', filename='img/avatar/2.jpg')}}" alt="">
                        </div>
                        <h4>samantha jones</h4>
                    </div>
    
                    <div class="user">
                        <div class="profile">
                            <img src="{{url_for('static', filename='img/avatar/3.jpg')}}" alt="">
                        </div>
                        <h4>john doe</h4>
                    </div>
    
                    <div class="user">
                        <div class="profile">
                            <img src="{{url_for('static', filename='img/avatar/4.jpg')}}" alt="">
                        </div>
                        <h4>stacy jr.</h4>
                    </div>
    
                    <div class="user">
                        <div class="profile">
                            <img src="{{url_for('static', filename='img/avatar/5.jpg')}}" alt="">
                        </div>
                        <h4>christin sam</h4>
                    </div>
    
                    <div class="user">
                        <div class="profile">
                            <img src="{{url_for('static', filename='img/avatar/6.jpg')}}" alt="">
                        </div>
                        <h4>kate simon</h4>
                    </div>
    
                    <div class="user">
                        <div class="profile">
                            <img src="{{url_for('static', filename='img/avatar/1.jpg')}}" alt="">
                        </div>
                        <h4>diana berry</h4>
                    </div>
    
                    <div class="user">
                        <div class="profile">
                            <img src="{{url_for('static', filename='img/avatar/2.jpg')}}" alt="">
                        </div>
                        <h4>sarah cerny</h4>
                    </div>
    
                    <div class="user">
                        <div class="profile">
                            <img src="{{url_for('static', filename='img/avatar/3.jpg')}}" alt="">
                        </div>
                        <h4>josh doe</h4>
                    </div>
    
                </div>
            </div>
            </div>
    </div>

   
{% endblock %}
