{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% set active_page = "index" %}

{% block styles %}
{{super()}}
    <style>
        .control-label {
            display: none;
        }      
        .form-control{
            background-color: var(--lighter);
            border: none;
            border-radius: 100px;
            padding: 12px;
            width: 100%;
            margin-left: 10px;
            color: var(--white);
        }  
    </style>
{% endblock %}


{% block app_content %}
    <!--content-->
    <div class="container">
        <div class="row">
    <div class="wrapper">

        <!--posts-->
        <div class="posts">
         
<!-- stories -->
<div class="stories">
    <div class="owl-controls">
        <div class="owl-nav">
            <div class="controllers nxtBtn">
                <img src="{{url_for('static', filename='img/icons/arrow-right.svg')}}  " alt="">
            </div>
        </div>
    </div>
    <div class="owl-carousel owl-theme slider">
        <div class="item">
            <div class="overlay first">
                <div class="create">
                    <div class="icon">
                        <a href="{{url_for('story')}}"><img src="{{url_for('static', filename='img/icons/plus.svg')}}" alt=""></a>
                    </div>
                    <a href="{{url_for('story')}}"><span>Create a Story</span></a> 
                </div>
            </div>
            <div class="story-image">
                <img src="{{url_for('static', filename='img/avatar/' +current_user.profile_image)}}" alt="">
            </div>
        </div>
        <!---->
        
        {% for story in stories %}
        <div class="item">
            <div class="overlay">
                <div class="person">
                    <div class="profile">
                        <img src="{{url_for('static', filename='img/avatar/' + story.author.profile_image)}}" alt="">
                    </div>
                </div>
                <h4> {{story.author.f_name}} {{story.author.l_name}} </h4>
            </div>
            <div class="story-image">
                <img src="{{url_for('static', filename='img/stories/' + story.story_image)}}" alt="">
            </div>
        </div>
        {% endfor %}
        <!---->
    </div>
</div>
            <!--create post-->
            <div class="timeline">
                <div class="view create-post">
                    <div class="input">
                        <div class="user">
                            <div class="profile">
                                <img src="{{url_for('static', filename='img/avatar/' + current_user.profile_image)}}" alt="">
                            </div>
                        </div>
                        {% if form %}
                        <div class="row">
                            <div class="col-md-12">
                                {{ wtf.quick_form(form) }}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                
                <!--Post container-->
                {% for post in posts.items %}
                    {% include '_post.html' %}
                {% endfor %}
    

            </div>
          
                <nav aria-label="..." class='pager'>
                    <ul class="pager">
                        <li class="previous{% if not prev_url %} disabled{% endif %}">
                            <a href="{{ prev_url or '#' }}">
                                <span aria-hidden="true">&larr;</span> Newer posts
                            </a>
                        </li>
    
                        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                            {% if page_num %}
                            {% if posts.page_num == page_num %}
                                <a class="btn btn-info mb-4 active" href="{{ url_for('index', page=page_num)}}">{{page_num}}</a>
                            {% else %}
                            <a class="btn btn-outline-info mb-4" href="{{ url_for('index', page=page_num)}}">{{page_num}}</a>
                            
                            {% endif %}
                            {% else  %}
                                ...
                            {% endif %}
                        {% endfor %}
    
                        <li class="next{% if not next_url %} disabled{% endif %}">
                            <a href="{{ next_url or '#' }}">
                                Older posts <span aria-hidden="true">&rarr;</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            
        </div>        

    </div>
        </div>
    </div>

{% endblock %}
