<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/40d3bba8ee.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    <link rel="icon" href="data:,">
    {% if title %}
        <title>Facebook - {{ title }}</title>
    {% else %}
        <title>Facebook</title>
    {% endif %}
</head>
<body>
    <!-- Flash Alert Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    
    <div class="alert-{{ category }}">
        <span class="alert_closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{ message }}
    </div>
    
    {% endfor %}
    {% endif %}
    {% endwith %}
    <!-- Flash Alert Messages ends -->
    
    <div class="left" >
        <img class="facebookIco" src="{{ url_for('static', filename='img/fb.svg')}}" alt="logo">
        <p class="fb_des">Facebook helps you connect and share <br/> with the people in your life</p>
    </div>
    <div class="right">
        <form action="" method="POST">
            {{ log_form.hidden_tag() }}

            {% if log_form.email.errors %}
            {{ log_form.email(class="in1" , placeholder="Enter Email") }}
            <div class="email-alert-danger">
                {% for error in log_form.email.errors %}
                <span class="email-alert_closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <span>{{error}}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ log_form.email(class="in1", placeholder="Enter Email") }}
            {% endif %}

            {% if log_form.password.errors %}
            {{ log_form.password(class="in1" , placeholder="Password") }}
            <div class="password-alert-danger">
                {% for error in log_form.password.errors %}
                <span class="password-alert_closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <span>{{error}}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ log_form.password(class="in1", placeholder="Password") }}
            {% endif %}
            
            {{ log_form.remember (class="remember")}}
            {{ log_form.remember.label }}
            
            {{ log_form.log_submit(class="submitBtn") }}
            
        </form>
        <a href="#">
            <p class="pf">Forgot Password?</p>
        </a>
        <button class="openBtn" id="openBtn">Create New Account</button>
    </div>
    
    {% if reg_form.errors %}
    
        <div class="regi_container" id="popup" style="display:inline;">

    {% else %}

        <div class="regi_container" id="popup">

    {%endif %}

        <button class="closebtn" id="closeBtn"><i class="fas fa-times"></i></button>
        <p class="heading">
            Sign Up
        </p>
        <p class="heading_des">It's quick and easy</p>
        <hr>
        
        <form action="" method="POST">
            
            {{ reg_form.hidden_tag() }}

            {% if reg_form.fname.errors %}
            {{ reg_form.fname(class="fname" , placeholder="First Name") }}
            <div class="fname-alert-danger">
                {% for error in reg_form.fname.errors %}
                <span class="fname-alert_closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <span>{{error}}</span>
                {% endfor %}
            </div>
            {% else %}
                {{ reg_form.fname(class="fname" , placeholder="First Name") }}
            {% endif %}

            {% if reg_form.lname.errors %}
            {{ reg_form.lname(class="fname" , placeholder="Last Name") }}
            <div class="fname-alert-danger">
                {% for error in reg_form.lname.errors %}
                <span class="fname-alert_closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <span>{{error}}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ reg_form.lname(class="fname" , placeholder="Last Name") }}
            {% endif %}

            {% if reg_form.email.errors %}
            {{ reg_form.email(class="regi_email" , placeholder="Enter Email") }}
            <div class="email-alert-danger">
                {% for error in reg_form.email.errors %}
                <span class="email-alert_closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <span>{{error}}</span>
                {% endfor %}
            </div>
            {% else %}
                {{ reg_form.email(class="regi_email", placeholder="Enter Email") }}
            {% endif %}
           
            {% if reg_form.password.errors %}
            {{ reg_form.password(class="regi_email" , placeholder="Enter Password") }}
            <div class="password-alert-danger">
                {% for error in reg_form.password.errors %}
                <span class="password-alert_closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <span>{{error}}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ reg_form.password(class="regi_email", placeholder="Enter Password") }}
            {% endif %}

            {% if reg_form.confirm_password.errors %}
            {{ reg_form.confirm_password(class="regi_email" , placeholder="Confirm Password") }}
            <div class="confirm_password-alert-danger">
                {% for error in reg_form.confirm_password.errors %}
                <span class="confirm_password-alert_closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <span>{{error}}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ reg_form.confirm_password(class="regi_email", placeholder="Confirm Password") }}
            {% endif %}
            
            <p class="date_of">Date of Birth</p>
            <select name="date" id="date">
                <option value=''>1</option>
                <option value=''>2</option>
                <option value=''>3</option>
                <option value=''>4</option>
                <option value=''>5</option>
                <option value=''>6</option>
                <option value=''>7</option>
                <option value=''>8</option>
                <option value=''>9</option>
                <option value=''>10</option>
                <option value=''>11</option>
                <option value=''>12</option>
                <option value=''>13</option>
                <option value=''>14</option>
                <option value=''>15</option>
                <option value=''>16</option>
                <option value=''>17</option>
                <option value=''>18</option>
                <option value=''>19</option>
                <option value=''>20</option>
                <option value=''>21</option>
                <option value=''>22</option>
                <option value=''>23</option>
                <option value=''>24</option>
                <option value=''>25</option>
                <option value=''>26</option>
                <option value=''>27</option>
                <option value=''>28</option>
                <option value=''>29</option>
                <option value=''>30</option>
                <option value=''>31</option>
            </select>
            <select name='date' id="month">
                <option value=''>Jan</option>
                <option value=''>Feb</option>
                <option value=''>Mar</option>
                <option value=''>Apr</option>
                <option value=''>May</option>
                <option value=''>June</option>
                <option value=''>July</option>
                <option value=''>Aug</option>
                <option value=''>Sept</option>
                <option value=''>Oct</option>
                <option value=''>Nov</option>
                <option value=''>Dec</option>
            </select>
            <select name="date" id="year">
                <option value=''>1970</option>
                <option value=''>1971</option>
                <option value=''>1972</option>
                <option value=''>1973</option>
                <option value=''>1974</option>
                <option value=''>1975</option>
                <option value=''>1976</option>
                <option value=''>1977</option>
                <option value=''>1978</option>
                <option value=''>1979</option>
                <option value=''>1980</option>
                <option value=''>1981</option>
                <option value=''>1982</option>
                <option value=''>1983</option>
                <option value=''>1984</option>
                <option value=''>1985</option>
                <option value=''>1986</option>
                <option value=''>1987</option>
                <option value=''>1988</option>
                <option value=''>1989</option>
                <option value=''>1990</option>
                <option value=''>1991</option>
                <option value=''>1992</option>
                <option value=''>1993</option>
                <option value=''>1994</option>
                <option value=''>1995</option>
                <option value=''>1996</option>
                <option value=''>1997</option>
                <option value=''>1998</option>
                <option value=''>1999</option>
                <option value=''>2000</option>
                <option value=''>2001</option>
                <option value=''>2002</option>
                <option value=''>2003</option>
            </select>
            
            <p class="gender">Gender</p>
            <div class="check1">
                <p class="checkp">Male</p><input type="checkbox" name="female" id="icheck">
            </div>
            <div class="check1">
                <p class="checkp">Female</p><input type="checkbox" name="male" id="icheck">
            </div>
            <div class="check1">
                <p class="checkp">Custom</p><input type="checkbox" name="custom" id="icheck">
            </div>
            <p class="rules">By clicking Sign Up, you agree to our <a href="">Terms</a>, <a href="">Data Policy</a> and <a
                    href="">Cookie Policy</a>. You<br> may receive SMS notifications from us
                and can opt out at any time.</p>
            
            {{ reg_form.reg_submit(class="signUPbtn") }}

        </form>

    </div>

    <script src="{{ url_for('static', filename='js/index.js')}}"></script>

</body>
</html>