{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% set active_page = "login" %}

{% block styles %}
{{super()}}
    <style>
        .control-label {
            display: none;
        }    
        body{
            color: var(--white)
        }    
        @media only screen and (max-width: 992px) {
            .lower{
                margin-top: 50px;
            }
        }
    </style>
{% endblock %}

{% block app_content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div>
                <img src="{{ url_for('static', filename='img/icons/logo.svg')}}" alt="">
                <h4 style="text-align:center">Facebook helps you connect and share with the people in your life.</h4>
            </div>
        </div>
        <div class="col-md-6 lower">
            <h1>Sign In</h1>
            <hr>
            {{ wtf.quick_form(form) }}
            <br>
            <p>Don't have an account?,<a href="{{url_for('register')}}"> click to Register!</a></p>
            <p>
                Forgot Your Password?
                <a href="{{ url_for('reset_password_request') }}">Click to Reset It</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
