{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css')}}">
{% endblock head %}

{% block content %}

    <header>
        <div class="header-top">
            <div class="header-container cover">
                <img class="cover-img" src="{{ cover_picture }}" alt="Default cover image">
                <span class="edit-cover-btn"><i class="fas fa-camera"></i> Edit Cover Photo</span>
            </div>
        </div>
        <div class="empty">
            <div class="profile">
                <img class="profile-pic" src="{{profile_picture}}" alt="Default profile image">
                <div class="camera"><i class="fas fa-camera"></i></div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="content-container">
                <div class="description">
                    <h1>{{ current_user.fname}} {{ current_user.lname}}</h1>
                    <h4>{{bio}}</h4>
                    <a href="#">Edit</a>
                </div>
                <hr>
                <div class="header-bar">
                    <ul class="header-nav">
                        <li><a href="#" id="active">Timeline</a></li>
                        <li id="about"><a href="#">About</a></li>
                        <li id="friends"><a href="#">Friends</a></li>
                        <li id="photos"><a href="#">Photos</a></li>
                        <li id="archive"><a href="#">Archive</a></li>
                        <li class="more-pos">
                            <a class="more" href="#">More <i class="fas fa-sort-down"></i></a>
                            <div class="dropdown-content">
                                <div>Videos</div>
                                <div>Check-ins</div>
                                <div>Sports</div>
                                <div>Music</div>
                                <div>Movies</div>
                                <div>Tv Shows</div>
                                <div>Books</div>
                                <div>Likes</div>
                                <div>Events</div>
                                <div>Questions</div>
                                <div>Reviews</div>
                                <div>Groups</div>
                                <div>Notes</div>
                                <div>Manage Sections</div>
                            </div>
                        </li>
                    </ul>
                    <div class="header-right">
                        <span class="header-icons"><i class="fas fa-pen"></i> Edit Profile</span>
                        <span class="header-icons"><i class="fas fa-eye"></i></span>
                        <span class="header-icons"><i class="fas fa-search"></i></span>
                        <span class="header-icons"><i class="fas fa-ellipsis-h"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="content-container">
            <aside>
                <div class="intro">
                    <h3>Intro</h3>
                    <p><i class="fas fa-graduation-cap"></i> Went to <strong>College</strong></p>
                    <p><i class="fas fa-house-user"></i> Lives in <strong>City</strong></p>
                    <p><i class="fas fa-clock"></i> Joined January 2099</p>
                    <p><i class="fas fa-globe"></i> <a href="#">website.net</a></p>
                    <div>Edit Details</div>
                    <div>Edit Featured</div>
                </div>
                <div class="photos">
                    <div class="photos-head">
                        <span class="h3">Photos</span>
                        <span class="see-all">See All</span>
                    </div>
                    <div class="grid">
                        <img class="grid-img" src="images/AItCxSs.jpg" alt="Default profile image">
                        <img class="grid-img" src="images/AItCxSs.jpg" alt="Default profile image">
                        <img class="grid-img" src="images/AItCxSs.jpg" alt="Default profile image">
                        <img class="grid-img" src="images/AItCxSs.jpg" alt="Default profile image">
                        <img class="grid-img" src="images/AItCxSs.jpg" alt="Default profile image">
                        <img class="grid-img" src="images/AItCxSs.jpg" alt="Default profile image">
                        <img class="grid-img" src="images/AItCxSs.jpg" alt="Default profile image">
                        <img class="grid-img" src="images/AItCxSs.jpg" alt="Default profile image">
                        <img class="grid-img" src="images/AItCxSs.jpg" alt="Default profile image">
                    </div>
                </div>
                <div class="friends">
                    <div class="photos-head">
                        <span class="h3">Friends</span>
                        <span class="see-all">See All</span>
                    </div>
                    <h5>10 friends</h5>
                    <div class="friend-box">
                        <div class="friend">
                            <img src="images/AItCxSs.jpg" alt="Default profile image">
                            <p>Friend Example</p>
                        </div>
                        <div class="friend">
                            <img src="images/AItCxSs.jpg" alt="Default profile image">
                            <p>Friend Example</p>
                        </div>
                        <div class="friend">
                            <img src="images/AItCxSs.jpg" alt="Default profile image">
                            <p>Friend Example</p>
                        </div>
                        <div class="friend">
                            <img src="images/AItCxSs.jpg" alt="Default profile image">
                            <p>Friend Example</p>
                        </div>
                        <div class="friend">
                            <img src="images/AItCxSs.jpg" alt="Default profile image">
                            <p>Friend Example</p>
                        </div>
                        <div class="friend">
                            <img src="images/AItCxSs.jpg" alt="Default profile image">
                            <p>Friend Example</p>
                        </div>
                        <div class="friend">
                            <img src="images/AItCxSs.jpg" alt="Default profile image">
                            <p>Friend Example</p>
                        </div>
                        <div class="friend">
                            <img src="images/AItCxSs.jpg" alt="Default profile image">
                            <p>Friend Example</p>
                        </div>
                        <div class="friend">
                            <img src="images/AItCxSs.jpg" alt="Default profile image">
                            <p>Friend Example</p>
                        </div>
                    </div>
                </div>
            </aside>
            <section>
                <div class="live">
                    <div class="live-top">
                        <img src="{{ url_for('static', filename='img/AItCxSs.jpg')}}" alt="Default profile image">
                        <button>What's on your mind?</button>
                    </div>
                    <hr>
                    <div class="live-bottom">
                        <span class="live-icons"><i class="fas fa-video"></i>&nbsp; Live Video</span>
                        <span class="live-icons"><i class="fas fa-photo-video"></i>&nbsp; Photo/Video</span>
                        <span class="live-icons"><i class="fas fa-flag"></i> &nbsp;Life Event</span>
                    </div>
                </div>
                <div class="posts-top">
                    <span class="h3">Posts</span>
                    <span class="posts-right">
                        <span class="header-icons"><i class="fas fa-sliders-h"></i> Filters</span>
                        <span class="header-icons"><i class="fas fa-cog"></i> Manage Posts</span>
                    </span>
                </div>
                <div class="posts-bottom">
                    <span class="active"><i class="fas fa-bars"></i> List View</span>
                    <span id="no-padding"><a href="#"><i class="fas fa-th-large"></i> Grid View</a></span>
                </div>
                <div class="timeline">
                    <div class="timeline-head">
                        <span><img src="images/AItCxSs.jpg" alt="Default profile image"></span>
                        <span>
                            <p><a href="#">Facebook Clone</a> updated his profile picture.</p>
                            <p><a href="#">January 1 at 12:00 PM</a> &bull; <i class="fas fa-globe-africa"></i></p>
                        </span>
                        <span>
                            <i class="fas fa-ellipsis-h"></i>
                        </span>
                    </div>
                    <div class="timeline-picture">
                        <img src="images/AItCxSs.jpg" alt="Default profile image">
                    </div>
                    <div class="timeline-options">
                        <span class="live-icons"><i class="far fa-thumbs-up"></i>&nbsp; Like</span>
                        <span class="live-icons"><i class="far fa-comment-alt"></i></i>&nbsp; Comment</span>
                        <span class="live-icons"><i class="far fa-share-square"></i>&nbsp; Share</span>
                    </div>
                    <hr>
                    <div class="timeline-bottom">
                        <img src="images/AItCxSs.jpg" alt="Default profile image">
                        <input type="text" placeholder="Write a comment..."></input>
                    </div>
                </div>
            </section>
        </div>
    </main>

{% endblock content %}